.top-bg{
    background-image:  linear-gradient( rgba(0,0,0,.8), rgba(0, 0, 0, 0.7) ), url("../img/bg1.jpg");
    width: 1905px;
    height: 650px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -10px;
    margin-left: -10px;
    background-position: 0 -175px;
    clip-path: polygon(0 0, 100% 1%, 100% 80%, 50% 100%, 0 80%);
}
.header-nav{
    border: 1px solid white;
}
.container-nav{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    background-color: white;
}
.nav-logo{
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 5px;
}
.nav-name{
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.nav-name-blue{
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px;
}
.header-link{
    text-decoration: none;
    color: #424F57;
}
.header-link-blue{
    color: #14AFCA;
    text-decoration: none;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 44px;
    margin-left: 250px;
}
.nav-item{
    margin-right: 75px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-link{
    text-decoration: none;
    color: #3E4C4E;
    font-size: 15px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
.nav-link:hover{
    color: #14AFCA;
}
.header-main-text{
    font-size: 52px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans bold", sans-serif;
    margin-top: 150px;
    font-weight: 900;
}
.header-main-text-bottom{
    font-size: 52px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans bold", sans-serif;
    font-weight: 900;
    margin-top: -50px;
}
.first-body-block{
    margin-top: 81px;
}
.block-header{
    text-align: center;
    color: #14AFCA;
    font-family: "Open Sans bold", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 52px;
    margin-bottom: -15px;
}
.first-block-tittle{
    font-family: "Open Sans bold", sans-serif;
    text-align: center;
    font-size: 25px;
    color: #424F57;
}
.first-block-text{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 15px;
    width: 950px;
    height: 75px;
    margin-left: 475px;
    color: #687279;
}
.center-bg{
    background-image:  url(../img/bg2.jpg);
    width: 1905px;
    height: 718px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 75px;
    margin-left: -10px;
    background-position: 0 -375px;
    clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}
.center-tittles{
    padding-top: 123px;
}
.second-block-tittle{
    font-family: "Open Sans bold", sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
}
.inblock-center-imgs{
    display: flex;
    flex-direction: row;
    margin-left: 460px;
    margin-top: 67px;
}
.inblock-center-img-1{
    margin-right: 42px;
    margin-top: 10px;
    margin-bottom: 75px;
    width: 189px;
    height: 34px;
    filter: brightness(5);
}

.adobe-block{
    margin-top: -15px;
    margin-right: 36px;
    background: white;
    width: 222px;
    height: 96px;
    display: flex;
    flex-direction: row;
}
.adobe-img{
    margin-top: 15px;
    margin-left: 15px;
    width: 77px;
    height: 63px;
}
.adobe-text-img{
    width: 114px;
    height: 38px;
    margin-top: 25px;
}
.inblock-center-img-3{
    margin-right: 52px;
    margin-top: 15px;
    width: 217px;
    height: 40px;
    filter: brightness(15);
}
.inblock-center-img-4{
    width: 176px;
    height: 89px;
    filter: brightness(5);
}
.inblock-center-img-5{
    margin-right: 75px;
    width: 159px;
    height: 48px;
    filter: brightness(15);
}
.inblock-center-img-6{
    margin-right: 47px;
    width: 217px;
    height: 40px;
    filter: brightness(15);

}
.inblock-center-img-7{
    margin-right: 85px;
    width: 185px;
    height: 48px;
    filter: brightness(175);

}
.inblock-center-img-8{
    margin-top: 10px;
    width: 200px;
    height: 38px;
    filter: brightness(15);
}
.humans{
    display: flex;
    flex-direction: row;
    margin-left: 456px;
    margin-top: 47px;
}
.humans-text{
    display: flex;
    flex-direction: row;
    margin-left: 420px;
}
.human-img{
    margin-right: 161px;
}
.third-block-text{
    width: 275px;
    height: 99px;
    font-family: "Open Sans bold", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    color: grey;
    margin-right: 92px;
}
.low-bg{
    background-image:  linear-gradient( rgba(0,0,0,.8), rgba(0, 0, 0, 0.4) ), url(../img/bg3.jpg);
    width: 1905px;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 75px;
    margin-left: -10px;
    clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}
.low-text{
    padding-top: 156px;
}
.four-block-text{
    font-family: "Open Sans semi-bold", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    width: 877px;
    height: 45px;
    color: grey;
    margin-left: 505px;
}
.shoaib-ahmed{
    font-family: "Open Sans semi-bold", sans-serif;
    color: white;
    font-size: 18px;
    text-align: right;
    margin-right: 680px;
}
.foot-container{
    margin-top: 115px;
}
.foot-mathematics{
    text-align: center;
    font-size: 30px;
    font-family: "Open Sans bold", sans-serif;
    font-weight: 300;
    color: #424F57;
    width: 800px;
    height: 70px;
    margin-left: 545px;
    margin-top: 28px;
    margin-bottom: 77px;
}
.copyright{
    width: 346px;
    height: 39px;
    text-align: center;
    margin-left: 757px;
    margin-top: 155px;
    margin-bottom: 75px;
    font-size: 14px;
    font-family: "Open Sans bold", sans-serif;

}
.copyright-bold{
    font-weight: bold;
}